<aside class="left-c">
    <section>
        <h2>profile</h2>
        <p>mokotanin</p>
        <a style="cursor: pointer" id="e-btn"
            >email<a style="display: none" id="copy-btn">copy</a
            ><a style="display: none" id="hide-btn">hide</a></a
        >
    </section>

    <section>
        <h2>menu</h2>
        <a href="/pages/photos.html">pictures</a>
        <a href="/pages/music.html">music</a>
        <a href="/pages/media.html">my medias</a>
    </section>
    <section>
        <h2>updates</h2>
        <p><b class="date">09月14日</b>whole rework</p>
        <p><b class="date">09月1日</b>better links</p>
        <p><b class="date">08月31日</b>adds + number</p>
        <p><b class="date">08月30日</b>links</p>
        <p><b class="date">08月29日</b>website's birth</p>
    </section>

    <section>
        <h2>sns</h2>
        <a href="https://github.com/mokotanin">github</a>
        <a href="https://myanimelist.net/animelist/Nooby3103?status=7"
            >myanimelist</a
        >
        <a href="https://letterboxd.com/Nooby3103/">letterboxd</a>
        <a href="https://discord.com/users/634792282515701761">discord</a>
    </section>
    <span id="nowplaying">
        <img
            id="nowplaying-cd"
            class="inline-img"
            src="/assets/cd_med02.gif"
            alt=""
            width="16"
            height="16"
        />
        <a href="https://www.last.fm/user/Nooby3103"
            ><span id="nowplaying-text">loading...</span></a
        >
    </span>
</aside>
